<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newland.tiange">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".jump.BActivity"></activity>
        <activity android:name=".jump.AActivity" />
        <activity android:name=".PopupWindowActivity" />
        <activity android:name=".CustomDialogActivity" />
        <activity android:name=".ProgressActivity" />
        <activity
            android:name=".MainActivity"
            android:label="SNMS">

            <!-- 设置成为默认的启动页面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 控制显示导航栏的风格 -->
        <!-- android:theme="@style/Theme.Design.NoActionBar" -->
        <!-- 控制横屏或者竖屏显示 -->
        <!-- android:screenOrientation="portrait" -->
        <activity android:name=".DialogActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".recyclerview.PuRecyclerViewActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckboxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".LifeActivity" />
    </application>

</manifest>